@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=window_open');

:root {
    font-family: 'Space Grotesk', sans-serif;
    --animTime: 1s ease-in-out;
    
    --accent-card:rgb(248, 103, 103);
    --deep-maroon: rgb(175, 46, 65);
    --light-dark-red: rgb(226, 90, 90);

    --deep-navy: rgb(10, 37, 64);
    --vibrant-blue: rgb(74, 144, 226);

    --top-accent-card: rgb(255, 255, 51);
    
    --border-color-white: rgb(255, 255, 255);
    --border-color-dark: rgb(0, 0, 0);
    --border-color-gray: rgb(121, 117, 117);
    --border-color-goldish: rgb(255, 198, 144);

    --txt-white:rgb(255, 255, 255);
    --txt-dark: rgb(0, 0, 0);

    --bg-white: rgb(255, 255, 255);
    --bg-dark: rgb(0, 0, 0);

    --neo: rgb(0, 240, 255);
    --neo-yellow: rgb(250, 213, 48);
}

:root.test {
    --accent-card:rgb(248, 103, 103);

    --border: rgb(0, 0, 0);
    --shadow: rgb(0, 0, 0);

    --txt: rgb(0, 0, 0);

    --bg: rgb(255, 255, 255);
}

:root.dark {
    --border: rgb(255, 198, 144);
    -shadow: rgb(175, 46, 65);
    --txt: rgb(255, 255, 255);
    --bg: rgb(0, 0, 0);
}


/* Fonts */
.space-grotesk-bold {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* -------------- Body -------------- */
body {
    display: flex;
    zoom: 67% !important;

    transition: var(--animTime);
    overflow: hidden;

    background-size: 60px 60px;
    background-color: var(--bg-white);
    background-image: 
    linear-gradient(to right, rgba(172, 166, 166, 0.397) 1px, transparent 1px),
    linear-gradient(to bottom,rgba(172, 166, 166, 0.397) 1px, transparent 1px);
}

body.windowDown {
    background-size: 60px 60px;
    background-color: var(--bg-dark);
    background-image:
    linear-gradient(to right, rgba(0, 163, 255, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 163, 255, 0.2) 1px, transparent 1px);
}

.elements-horizontal {
    display: flex;

    align-content: center;
    justify-content: center;

    position: relative;
    height: 150vh;
    overflow: hidden;
  
    scroll-snap-align: initial;
}

/* -------------- Nav Bar -------------- */
.nav-bar {
    width: 70%;
    height: 110px;
    margin: 30px auto 0;

    position: fixed;
    display: flex;
    justify-self: center;
    left: 22vw;

    align-items: center;
    justify-content: space-between;
    padding: 0 32px;

    background-color: var(--bg-white);
    border: 6px solid var(--border-color-dark);
    box-shadow: 10px 10px 0px var(--border-color-dark);

    transition: var(--animTime);

    z-index: 999;

    animation: 2s openNav ease-in-out;
}

@keyframes openNav {
    0% {
        transform: translateY(-400px);
        box-shadow: none;
    }
    85% {
        box-shadow: none;
    }
    100% {
        transform: translateY(0px);
    }
}

.nav-bar.windowDown {
    background-color: rgb(0, 0, 0);
    border: 6px solid var(--border-color-goldish);
    box-shadow: 10px 10px 0px var(--accent-card);
}

/* -------------- Nav Bar Elements -------------- */

/* Window */
.material-symbols-outlined {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 60px;
    width: 60px;
    height: 60px;

    outline: 2px solid var(--border-color-dark);
    background-color: white;
    box-shadow: 4px 4px 0px 0px var(--border-color-dark);

    user-select: none;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.material-symbols-outlined:hover {
    transform: translate(2px, 2px);
    box-shadow: none;
}

.is-filled {
    outline: 2px solid var(--accent-card);
    box-shadow: 4px 4px 0px 0px var(--accent-card);

    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 60
}

/* Blackout */
#blackout {
    font-size: 2.4rem;
    font-weight: 800;
    text-decoration: none;
    color: var(--border-color);

    padding: 8px 20px;
    outline: 6px solid var(--border-color-dark);
    background-color: var(--accent-card);
    
    display: inline-block;
    line-height: 1;

    transform: rotate(-3deg);

    transition: 0.2s ease-in-out;

    transform-origin: center;

    animation: tagBoxExpand 4s ease-in-out;
}

#blackout.windowDown {
    outline: 6px solid rgb(235, 87, 87);
    background-color: rgb(235, 87, 87);
    color: var(--txt-dark);
}

@keyframes tagBoxExpand {
    0% {
        transform: scaleX(0) rotate(0deg);
        color:transparent;
    }
    80% {
        transform: scale(0.8) rotate(0deg);
        color: transparent;       
    }
    100% {
        color: black;
        transform: scaleX(1) rotate(-3deg);
    }
}

#blackout:hover {
    cursor: pointer;
    transform: rotate(0deg);
}   

/* Nav Bar Text tags */
.nav-links {
    display: flex;
    gap: 60px;

    font-weight: 900;
    letter-spacing: 0.1em;
    font-size: 1.3rem;

    align-items: center;
    text-transform: uppercase;

    transition: var(--animTime)
}

.nav-links.windowDown {
    color: var(--txt-white);
}

.nav-link {
    position: relative;
    display: inline-block;
    
    padding: 4px 8px;
    color: inherit;
    text-decoration: none;

    transition: background 0.2s;
}

.nav-link:hover {
    background-color: var(--neo);
    color: black;
}
 
.link-overlay {
    position: absolute;
    
    border: 2px solid var(--border-color-dark);
    opacity: 0;

    transform: translate(4px, 4px); 
    transition: opacity 0.2s;
    
    inset: 0;

    z-index: -10;
}

.link-overlay.windowDown {
    border: 2px solid var(--accent-card);
}

.nav-link:hover .link-overlay {
  opacity: 1;
}

/* Social links */
.nav-socials {
  display: flex;
  gap: 30px;
}

.social-icon {
  display: flex;
  
  width: 60px;
  height: 60px;

  border: 2px solid var(--border-color-dark);
  box-shadow: 2px 2px 0px 0px var(--border-color-dark);

  align-items: center;
  justify-content: center;

  transition: all 0.2s;
}

.social-icon.windowDown {
    border: 2px solid var(--accent-card);
    box-shadow: 2px 2px 0px 0px var(--accent-card);
}

.social-icon:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}

/* Background icon colors */
.discord { background-color: rgb(137, 137, 255); }
.github { background-color: white; }
.youtube { background-color: white; }

/* -------------- Title / Header -------------- */

#title { 
    height: 140vh;
    width: 150vw;
    margin-top: 100px;

    align-content: center;
}

/* Top Floating Box */
.top-box {
    background-color: var(--accent-card);

    align-content: center;
    text-align: center;

    align-self: center;
    justify-self: center;
    
    border: 6px solid var(--border-color-dark);
    box-shadow: 10px 10px 0px var(--border-color-dark);

    font-family:"Space Grotesk";
    font-size: 1.6rem;
    width: 11.5%;
    height: 4.5%;

    animation: 
    topEntry 1s ease-in-out forwards,
    float 3s ease-in infinite;

    transition: var(--animTime);
}

@keyframes topEntry {
    0% {
        transform: translate(10px, 10px);
        box-shadow: none;
        opacity: 0;
    }
    85% {
        transform: translate(10px, 10px);
        box-shadow: none;
    }
    100% {
        opacity: 1;
    }
}

.top-box.windowDown {
    border: 6px solid var(--border-color-goldish);
    box-shadow: 10px 10px 0px #af2e41;
    background-color: #E25A5A;
}

.top-txt {
    font-weight: 600;
    color: var(--txt-white);
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(-3deg);
  }
  50% {
    transform: translateY(-10px) rotate(-3deg);
  }
  100% {
    transform: translateY(0px) rotate(-3deg);
  }
}

/* Main header */
.header-mid {
    display: flex;
    flex-direction: column;
    justify-self: center;

    margin-top: 60px;
    
    font-family: "Space Grotesk";
    font-weight: 800;
    font-size: 12rem;
    color: var(--txt-dark);

    text-align: center;
}

.top-H {
    stroke: black;
    fill: black;

    width:75%;
    height: 12%;
    
    stroke-width: 2px;
    stroke-dasharray: 6000;
    stroke-dashoffset: 6000;
    color: transparent;

    animation: animateText 3s ease-in-out;

    transition: var(--animTime);
}

.top-H.windowDown {
    stroke: white;
    fill: white;
}

@keyframes animateText {
    0% {
        fill: transparent;
        stroke-dashoffset: 6000;
    }
    80% {
        fill: transparent;
        stroke-dashoffset: 3000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.mid-H {
    width: 33%;
    height: 162px;

    stroke: black;
    stroke-width: 4px;
    stroke-dashoffset: 6000;
    stroke-dasharray: 6000;

    fill: transparent;

    animation: 3s animateMidTXT ease-in-out forwards;

    transition: var(--animTime);
}

@keyframes animateMidTXT {
    0% {
        fill: transparent;
        stroke-dashoffset: 6000;
        stroke-width: 2px;
    }
    80% {
        fill: transparent;
        stroke-dashoffset: 3000;
        stroke-width: 2px;
    }
    100% {
        fill: transparent;
        stroke-width: 4px;
        stroke-dashoffset: 0;
    }
}

.mid-H.windowDown {
    stroke: white;
}

.bottom-H {
    stroke: black;
    fill: black;

    width:1600px;
    height:165px;
    
    stroke-width: 2px;
    stroke-dasharray: 6000;
    stroke-dashoffset: 6000;
    color: transparent;

    animation: animateText 3s ease-in-out;

    transition: var(--animTime);
}

.bottom-H.windowDown {
    stroke: white;
    fill: white;
}

/* Description paragraph */
.description-paragraph {
    width: 50%;
    height: 10%;

    align-self: center;
    justify-self: center;
    text-align: center;

    font-size: 2.6rem;
    font-weight: 800;
    letter-spacing: -0.06rem;
    color: var(--txt-dark);

    transition: var(--animTime);

    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.description-paragraph.windowDown {
    color: var(--txt-white);
}

#highlight-paragraph {
    color: var(--txt-dark);
    background-color: var(--neo);
    padding: 0px 6px;
}

/* Bottom Buttons */
.bottom-buttons {
    display: flex;

    width: 50%;
    justify-self: center;
    justify-content: center;

    animation: slideUp 1s ease-in-out;

    gap: 60px;
}

.works-button {
    padding: 30px 50px;
    outline: 6px solid var(--border-color-dark);
    box-shadow: 15px 15px 0px 0px var(--border-color-dark);
    background-color: var(--accent-card);

    font-size: 2rem;
    font-weight: 800;
    color: var(--txt-dark);

    text-decoration: none;
    text-transform: uppercase;

    transition: 0.09s ease-in-out;

    animation: riseDown 1s ease-in-out;
}

.works-button.windowDown {
    background-color: var(--light-dark-red);
    outline: 6px solid var(--deep-maroon);
    box-shadow: 15px 15px 0px 0px var(--deep-maroon);
}

.works-button:active {
    transform: translate(15px, 15px);
    box-shadow: none;
}

.contact-button {
    padding: 30px 55px;
    outline: 6px solid var(--border-color-dark);
    box-shadow: 15px 15px 0px 0px var(--border-color-dark);

    font-size: 2rem;
    font-weight: 800;
    color: var(--txt-dark);

    text-decoration: none;
    text-transform: uppercase;

    background-color: var(--bg-white);

    transition: 0.09s ease-in-out;

    animation: riseDown 1s ease-in-out
}

.contact-button.windowDown {
    background-color: #4A90E2;
    outline: 6px solid #1B3A57;
    box-shadow: 15px 15px 0px 0px #1B3A57;
}

.contact-button:active {
    transform: translate(15px, 15px);
    box-shadow: none;
}

@keyframes riseDown {
    0% {
        transform: translateY(500px);
        box-shadow: none;
    }
    85% {
        transform: translateY(0px);
        transform: translate(15px, 15px);
        box-shadow: none;
    }
    100% {
        transform: translate(15px, 15px);
        transform: translateY(0px);
    }
}

/* -------------- About Me -------------- */
#about {
    display: flex;
    flex-direction:row;

    position: absolute;
    left: 3200px;
    top: 0;

    justify-content: center;
    align-items: center;

    gap: 100px;

    width:150vw;
    height: 150vh;
}

.img-placeholder {

    width: 28%;
    height: 80%;
    font-size: 4rem;

    transform: rotate(-2deg);
    transform-origin:center;

    background-image: url('./assets/images/aboutmeimg.png');
    background-size:cover;
    background-color: var(--bg-white);
    outline: 6px solid var(--border-color-dark);
    box-shadow: 20px 20px 0px 0px var(--border-color-dark);

    transition: 0.1s ease-in-out;

    z-index: 2;
}

.img-placeholder.anim {
    animation: imgPlaceHolderExpand 1s ease-out;
}

@keyframes imgPlaceHolderExpand {
    0% {
        background-image: none;
        transform: scaleY(0);
        box-shadow: none;
        color: transparent;
    }
    85% {
        box-shadow: none;
        color: transparent;
        transform: scaleY(1);
        background-image: none;
    }
    100% {
        transform: rotate(-2deg);
    }
}

.img-placeholder:hover {
    transform: translate(-10px, -10px) rotate(-2deg);
    box-shadow: 36px 36px 0px 0px var(--border-color-dark);
}

.img-placeholder.windowDown {
    background-color: var(--bg-white);
    outline: 6px solid var(--border-color-goldish);
    box-shadow: 20px 20px 0px 0px var(--deep-maroon);
}

.img-placeholder.windowDown:hover {
    transform: translate(-10px, -10px) rotate(-2deg);
    box-shadow: 36px 36px 0px 0px var(--deep-maroon);
}

.about-me {
    flex-direction: right;

    width: 45.8%;
    height: 57%;

    transform: rotate(1.5deg);

    background-color: var(--bg-white);
    outline: 6px solid var(--border-color-dark);
    box-shadow: 15px 15px 0px var(--border-color-dark);

    transition: var(--animTime);
}

.about-me.anim {
    animation: fadeIn 2s ease-in-out;
}

.about-me.windowDown {
    background-color: var(--bg-dark);
    outline: 6px solid var(--border-color-goldish);
    box-shadow: 15px 15px 0px var(--deep-maroon);
}

.about-txt {
    position:absolute;
    top: 10%;
    left: 6%;

    width: 160px;
    height: 30px;

    text-align: center;

    background-color: var(--neo);
    outline: 5px solid var(--border-color-dark);

    font-size: 1.5rem;
    font-weight: 800;

    transition: var(--animTime);
}

.about-txt.windowDown {
    outline: 5px solid var(--accent-card);
}

.about-header {
    position: absolute;
    top: 16%;
    left: 5%;

    font-size: clamp(1.6rem, 5.5vw, 6rem);
    font-weight: 800;

    color: var(--txt-dark);

    transition: var(--animTime);
}

.about-header.windowDown {
    color: var(--txt-white);
}

#def-txt {
    color: white;
    background-color: rgb(250, 116, 116);
    padding: 0px 10px;
}

.about-paragraph {
    position: absolute;
    top: 30%;
    left: 5%;

    font-size: clamp(2.5rem, 2.8vw, 0.95rem);
    font-weight: 600;

    color: var(--txt-dark);

    transition: var(--animTime);
}

.about-paragraph.windowDown {
    color: var(--txt-white);
}
/* Language box (about me) */
.about-lang-box {
    display: flex;

    position: absolute;
    top: 87%;
    left: 5%;

    gap: 30px;
}

.js-box {
    font-size: 1.8rem;
    font-weight: 800;

    outline: 6px solid var(--border-color-dark);
    padding: 10px 10px;

    background-color: rgb(247, 223, 30);

    transition: var(--animTime);
}

.js-box.windowDown {
    outline: 6px solid var(--accent-card);
}

.html-box {
    width: 38px;
    height: 38px;

    font-size: 1.8rem;
    font-weight: 800;

    outline: 6px solid var(--border-color-dark);
    padding: 10px 10px;

    background-color: var(--deep-navy);

    transition: var(--animTime);
}

.html-box.windowDown {
    outline: 6px solid var(--accent-card);
}

.jvm-box {
    width: 38px;
    height: 38px;

    font-size: 1.8rem;
    font-weight: 800;

    outline: 6px solid var(--border-color-dark);
    padding: 10px 10px;

    background-color: rgb(255, 255, 255);

    transition: var(--animTime);
}

.jvm-box.windowDown {
    outline: 6px solid var(--accent-card);
}

.git-about-me {
    position: absolute;
    top: 87.5%;
    left: 92.5%;

    width: 60px;
    height: 60px;

    padding: 10px 10px;

    outline: 6px solid var(--border-color-dark);
    box-shadow: 10px 10px 0px 0px var(--border-color-dark);

    transition: 0.2s ease-in-out;
}

.git-about-me.windowDown {
    background-color: var(--bg-white);
    outline: 6px solid var(--deep-maroon);
    box-shadow: 10px 10px 0px 0px var(--deep-maroon);
}

.git-about-me:hover {
    transform: translate(10px, 10px);
    box-shadow: none;
}

.git-info {
    position: absolute;
    top: 700px;
    left: 900px;

    padding-left: 10px;
    padding-right: 100px;
    outline: 6px solid var(--border-color-dark);
    background-color: var(--bg-white);
    box-shadow: 10px 10px 0px 0px var(--border-color-dark);

    transition: 0.3s ease-in-out;
}

.git-info.windowDown {
    background-color: var(--bg-dark);
    outline: 6px solid var(--border-color-goldish);
    box-shadow: 15px 15px 0px 0px var(--deep-maroon);
}

.git-info.hidden {
    transition: 0.3s ease-in-out;

    opacity: 0;
}   

.git-repos, .git-followers {
    color: var(--txt-white);
    mix-blend-mode: difference;
    font-size: 2rem;
    font-weight: 600;
}

/* -------------- Skills -------------- */
#skills {
    display: flex;

    position: absolute;
    left: 6050px;
    top: 0;

    width: 150vw;
    height: 140vh;
}

.my-toolbox {
    position: absolute;
    top: 47vh;
    left: 1400px;

    background-color: var(--bg-dark);
    padding: 7px 17px;

    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.my-toolbox.anim {
    animation: fadeIn 2s ease-in-out;
}

.my-toolbox.windowDown {
    background-color: var(--bg-white);
    color: black;
}

.skills-txt {
    width: 700px;
    height: 220px;

    position: absolute;
    top: 60vh;
    left: 1270px;

    text-transform: uppercase;
    font-size: 13rem;
    font-weight: 600;
    letter-spacing: -0.6rem;

    stroke: black;
    stroke-width: 4px;
    stroke-dashoffset: 6000;
    stroke-dasharray: 6000;

    fill: transparent;
}

.skills-txt.anim {
    animation: 4s animateMidTXT ease-in-out forwards;
}

.skills-txt.windowDown {
    stroke:white;
}

/* Front end box */
.front-end-box {
    display: flex;

    position: absolute;
    top: 500px;
    left: 500px;

    width: 700px;
    height: 450px;

    outline: 6px solid var(--bg-dark);
    box-shadow: 16px 16px 0px 0px var(--border-color-dark);
    background-color: var(--bg-white);

    z-index: 1;

    transition: 0.2s ease-in-out;
}

.front-end-box.anim {
    animation: boxAnim 1s ease-in-out;
}

.front-end-box.windowDown {
    outline: 6px solid var(--border-color-goldish);
    box-shadow: 16px 16px 0px 0px var(--deep-maroon);
    background-color: var(--bg-dark);
}

.front-end-box:hover {
    transform: translateX(600px) scale(2);
    z-index: 100;
    box-shadow: none;
}

@keyframes boxAnim {
    0% {
        opacity: 0;
        transform: translateY(100px);
        box-shadow: none;
    }
    85% {
        box-shadow: none;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Things inside front end box */
.grid-box {
    position: absolute;
    top: 45px;
    left: 45px;

    width: 80px;
    height: 80px;

    transform: rotate(5deg);

    background-color: var(--accent-card);
    padding: 10px 10px;
    outline: 6px solid var(--border-color-dark);
    box-shadow: 16px 16px 0px 0px var(--border-color-dark);

    transition: 0.2s ease-in-out;
}

.front-end-box:hover .grid-box {
    transform: rotate(0deg);
}

.grid-box.windowDown {
    background-color: var(--bg-white);
    outline: 6px solid var(--border-color-goldish);
    box-shadow: 16px 16px 0px 0px var(--deep-maroon);
}

.front-end-txt {
    position: absolute;
    top: 190px;
    left: 30px;

    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;

    color: white;
    mix-blend-mode: difference;
}

.front-language-grid {
    display: flex;

    position: absolute;
    top: 270px;
    left: 30px;

    gap: 30px;
}

.html-lang-box, .css-lang-box, .js-lang-box {
    padding: 5px 10px;
    outline: 6px solid var(--border-color-dark);
    box-shadow: 8px 8px 0px 0px var(--border-color-dark);

    text-align: center;
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--txt-dark);
    font-weight: 600;

    transition: 0.2s ease-in-out;
}

.html-lang-box.windowDown, .css-lang-box.windowDown, .js-lang-box.windowDown {
    color: var(--txt-white);
    outline: 6px solid var(--border-color-goldish);
    box-shadow: 8px 8px 0px 0px var(--deep-maroon);
}

.html-lang-box:hover, .css-lang-box:hover, .js-lang-box:hover {
    transform: translate(8px, 8px);
    box-shadow: none;
}

/* Back end box */
.back-end-box {
    position: absolute;
    top: 500px;
    left: 1960px;

    width: 680;
    height: 450px;

    outline: 6px solid var(--bg-dark);
    box-shadow: 16px 16px 0px 0px var(--border-color-dark);
    background-color: var(--bg-white);

    transition: 0.2s ease-in-out;

    z-index: 1;
}

.back-end-box.anim {
    animation: boxAnim 1s ease-in-out;
}

.back-end-box.windowDown {
    outline: 6px solid var(--border-color-goldish);
    box-shadow: 16px 16px 0px 0px var(--deep-maroon);
    background-color: var(--bg-dark);
}

.back-end-box:hover {
    transform: translateX(-600px) scale(2);
    box-shadow: none;
}

.storage-box {
    position: absolute;
    top: 45px;
    left: 45px;

    width: 80px;
    height: 80px;

    transform: rotate(5deg);

    background-color: var(--accent-card);
    padding: 10px 10px;
    outline: 6px solid var(--border-color-dark);
    box-shadow: 16px 16px 0px 0px var(--border-color-dark);

    transition: 0.2s ease-in-out;
}

.storage-box.windowDown {
    background: var(--bg-white);
    outline: 6px solid var(--border-color-goldish);
    box-shadow: 16px 16px 0px 0px var(--deep-maroon);
}

.back-end-box:hover .storage-box {
    transform: rotate(0deg);
}

.back-end-txt {
    position: absolute;
    top: 190px;
    left: 30px;

    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;

    color: white;
    mix-blend-mode: difference;
}

.back-language-grid {
    display: flex;

    position: absolute;
    top: 270px;
    left: 30px;

    gap: 30px;
}

.java-lang-box {
    padding: 5px 10px;
    outline: 6px solid var(--border-color-dark);
    box-shadow: 8px 8px 0px 0px var(--border-color-dark);

    text-align: center;
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--txt-dark);
    font-weight: 600;

    transition: 0.2s ease-in-out;
}

.java-lang-box.windowDown {
    outline: 6px solid var(--border-color-goldish);
    color: var(--txt-white);
    box-shadow: 8px 8px 0px 0px var(--deep-maroon);
}

.java-lang-box:hover {
    transform: translate(8px, 8px);
    box-shadow: none;
}

/* -------------- Projects --------------*/
#projects {
    display: flex;

    width: 136vw;
    height: 140vh;

    position: absolute;
    top: 0;
    left: 9500;
}

.work-txt {
    position: absolute;
    top: 500px;
    left: 100px;

    width: 1000px;
    height: 400px;

    text-transform: uppercase;
    font-size: 15rem;
    font-weight: 800;
    letter-spacing: -1rem;

    stroke: black;
    stroke-width: 4px;
    stroke-dashoffset: 6000;
    stroke-dasharray: 6000;

    fill: transparent;
}

.work-txt.windowDown {
    stroke: white;
}

.work-txt.anim {
    animation: animateMidTXT 3s ease-in-out forwards;
}

.projects-container {
    position: relative;
    display:flex;

    position: absolute;
    top: 300px;
    left: 900px;
}

/* PROJECT NUMERO UNO  */
.combat-helper {
    position: absolute;

    width: 1800px;
    height: 900px;

    outline: 6px solid var(--border-color-dark);
    background-color: var(--bg-white);
    box-shadow: 20px 20px 0px 0px var(--border-color-dark);

    transition: var(--animTime);
}

.combat-helper.windowDown {
    outline: 6px solid var(--border-color-goldish);
    background-color: var(--bg-dark);
    box-shadow: 20px 20px 0px 0px var(--deep-maroon);
}

.combat-helper.anim {
    animation: animateCard 1s forwards;
}

.combat-H-text {
    position: absolute;
    top: 150px;
    left: 750px;

    font-size: 7rem;
    font-weight: 700;
    letter-spacing: -0.4rem;
    text-transform: uppercase;

    color: white;
    mix-blend-mode: difference;
}

.combat-H-text.anim {
    animation: fadeIn 1.6s ease-in-out;

}

.combat-paragraph {
    position: absolute;
    top: 275px;
    left: 750px;

    width: 800px;

    font-size: 2.5rem;
    font-weight: 550;

    color: rgb(189, 189, 189);
    mix-blend-mode: difference;
}

.combat-paragraph.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.LU-java {
    position: absolute;
    top: 525px;
    left: 750px;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;

    padding: 5px 10px;
    background-color: rgb(255, 247, 174);
    outline: 6px solid var(--border-color-dark);
}

.LU-java.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.LU-java.windowDown {
    outline: 6px solid var(--accent-card);
}

.project-buttons {
    display: flex;

    position: absolute;
    top: 650px;
    left: 750px;

    gap: 50px;
}

.open-live-code-1 {
    display: flex;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    font-size: 1.6rem;
    font-weight: 800;

    padding: 20px 40px;
    outline: 6px solid var(--border-color-dark);
    background-color: var(--accent-card);
    box-shadow: 15px 15px 1px 2px var(--border-color-dark);

    color: black;

    transition: 0.1s ease-in-out;
}

.open-code-img-1 {
    transform: translateX(-10px);
}

.open-live-code-1.windowDown {
    outline: 6px solid var(--deep-maroon);
    box-shadow: 15px 15px 1px 2px var(--deep-maroon);
}

.open-live-code-1.anim {
    animation: 
    fadeIn 1.6s ease-in-out;
}

.open-live-code-1:active {
    transform: translate(15px, 15px);
    box-shadow: none;
}

/* GITHUB button p1 */
.open-github-1 {
    display: flex;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    font-size: 1.6rem;
    font-weight: 800;

    padding: 20px 35px;
    outline: 6px solid var(--border-color-dark);
    background-color: var(--bg-white);
    box-shadow: 15px 15px 1px 2px var(--border-color-dark);

    color: black;

    transition: 0.1s ease-in-out;
}

.open-git-img-1 {
    width: 30px;
    height: 30px;

    transform: translateX(-10px);
}

.open-github-1.windowDown {
    outline: 6px solid var(--deep-navy);
    background-color: var(--vibrant-blue);
    box-shadow: 15px 15px 1px 2px var(--deep-navy);
}

.open-github-1.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.open-github-1:active {
    transform: translate(15px, 15px);
    box-shadow: none;
}

.combat-helper-container {
    background-image: url('./assets/images/icons/proj-icon/background-tex.png');
    background-size: cover;

    display: flex;
    justify-content: center;
    
    width: 700px;
    height: 900px;

    outline: 4px solid var(--border-color-dark);

    background-color: rgb(61, 61, 61);
}

.combat-helper-container.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.p1-tag {
    position: absolute;
    top: 40px;
    left: 25px;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;

    padding: 3px 6px;
    outline: 3px solid var(--border-color-dark);
    background-color: var(--accent-card);
    box-shadow: 10px 10px 0px 0px var(--border-color-dark);

    z-index: 2;
}

.p1-tag.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.image-combat {
    width: 600px;
    height: 800px;

    filter: grayscale(0.7);

    transition: 1s ease-in-out;
}

.image-combat.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.image-combat:hover {
    transform: scale(1.08);
    filter: grayscale(0);
}

/* PROJECT NUMERO DOS */
.svelte-proj {
    position: absolute;
    left: 2400px;

    display: flex;

    width: 1800px;
    height: 900px;

    outline: 6px solid var(--border-color-dark);
    background-color: var(--bg-white);
    box-shadow: 20px 20px 0px 0px var(--border-color-dark);

    transition: var(--animTime);
}

.svelte-proj.windowDown {
    outline: 6px solid var(--border-color-goldish);
    background-color: var(--bg-dark);
    box-shadow: 20px 20px 0px 0px var(--deep-maroon);
}

.svelte-proj.anim {
    animation: animateCard 1s forwards;
}

/* Text header*/
.svelte-H-text {
    position: absolute;
    top: 150px;
    left: 750px;

    font-size: 7rem;
    font-weight: 700;
    letter-spacing: -0.4rem;
    text-transform: uppercase;

    color: white;
    mix-blend-mode: difference;
}

.svelte-H-text.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.svelte-paragraph {
    position: absolute;
    top: 275px;
    left: 750px;

    width: 800px;

    font-size: 2.5rem;
    font-weight: 550;

    color: rgb(189, 189, 189);
    mix-blend-mode: difference;
}

.svelte-paragraph.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.LU-container {
    display: flex;

    position: absolute;
    top: 525px;
    left: 750px;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;

    gap: 30px;
}

.LU-container.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.LU-svelte, .LU-css, .LU-ts {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;

    padding: 5px 10px;
    background-color: rgb(255, 247, 174);
    outline: 6px solid var(--border-color-dark);
}

.LU-svelte.windowDown, .LU-css.windowDown, .LU-ts.windowDown {
    outline: 6px solid var(--accent-card);
}

.open-live-code-2 {
    display: flex;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    font-size: 1.6rem;
    font-weight: 800;

    padding: 20px 40px;
    outline: 6px solid var(--border-color-dark);
    background-color: var(--accent-card);
    box-shadow: 15px 15px 1px 2px var(--border-color-dark);

    color: black;

    transition: 0.1s ease-in-out;
}

.open-code-img-2 {
    transform: translateX(-10px);
}

.open-live-code-2.windowDown {
    outline: 6px solid var(--deep-maroon);
    box-shadow: 15px 15px 1px 2px var(--deep-maroon);
}

.open-live-code-2.anim {
    animation: 
    fadeIn 1.6s ease-in-out;
}

.open-live-code-2:active {
    transform: translate(15px, 15px);
    box-shadow: none;
}

/* GITHUB button p2 */
.open-github-2 {
    display: flex;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    font-size: 1.6rem;
    font-weight: 800;

    padding: 20px 35px;
    outline: 6px solid var(--border-color-dark);
    background-color: var(--bg-white);
    box-shadow: 15px 15px 1px 2px var(--border-color-dark);

    color: black;

    transition: 0.1s ease-in-out;
}

.open-git-img-2 {
    width: 30px;
    height: 30px;

    transform: translateX(-10px);
}

.open-github-2.windowDown {
    outline: 6px solid var(--deep-navy);
    background-color: var(--vibrant-blue);
    box-shadow: 15px 15px 1px 2px var(--deep-navy);
}

.open-github-2.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.open-github-2:active {
    transform: translate(15px, 15px);
    box-shadow: none;
}

/* Image container 2*/
.svelte-container {
    display: flex;
    justify-content: center;
    
    width: 700px;
    height: 900px;

    outline: 4px solid var(--border-color-dark);

    background-color: rgb(61, 61, 61);
}

.svelte-container.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.p2-tag {
    position: absolute;
    top: 40px;
    left: 25px;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;

    padding: 3px 6px;
    outline: 3px solid var(--border-color-dark);
    background-color: var(--vibrant-blue);
    box-shadow: 10px 10px 0px 0px var(--border-color-dark);

    z-index: 2;
}

.p2-tag.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.svelte-img {
    display: flex;
    align-self: center;

    width: 600px;
    height: 800px;

    filter: grayscale(0.7);

    transition: 1s ease-in-out;
}

.svelte-img.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.svelte-img:hover {
    transform: scale(1.08);
    filter: grayscale(0);
}

/* Orcrist addon project */
.orcrist-addon-proj {
    position: absolute;
    left: 4700px;

    display: flex;

    width: 1800px;
    height: 900px;

    outline: 6px solid var(--border-color-dark);
    background-color: var(--bg-white);
    box-shadow: 20px 20px 0px 0px var(--border-color-dark);

    transition: var(--animTime);

    z-index: 2;
}

.orcrist-addon-proj.windowDown {
    outline: 6px solid var(--border-color-goldish);
    background-color: var(--bg-dark);
    box-shadow: 20px 20px 0px 0px var(--deep-maroon);
}

.orcrist-addon-proj.anim {
    animation: animateCard 1s forwards;
}

/* Texts & things */
.orcrist-H-text {
    position: absolute;
    top: 150px;
    left: 890px;

    font-size: 7rem;
    font-weight: 700;
    letter-spacing: -0.4rem;
    text-transform: uppercase;

    color: white;
    mix-blend-mode: difference;
}

.orcrist-H-text.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.orcrist-paragraph {
    position: absolute;
    top: 275px;
    left: 890px;

    width: 800px;

    font-size: 2.5rem;
    font-weight: 550;

    color: rgb(189, 189, 189);
    mix-blend-mode: difference;
}

.orcrist-paragraph.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.LU-java-3 {
    position: absolute;
    top: 525px;
    left: 890px;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;

    padding: 5px 10px;
    background-color: rgb(255, 247, 174);
    outline: 6px solid var(--border-color-dark);
}

.LU-java-3.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.project-buttons-3 {
    display: flex;

    position: absolute;
    top: 650px;
    left: 890px;

    gap: 50px;
}

.project-buttons-3.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.open-live-code-3 {
    display: flex;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    font-size: 1.6rem;
    font-weight: 800;

    padding: 20px 40px;
    outline: 6px solid var(--border-color-dark);
    background-color: var(--accent-card);
    box-shadow: 15px 15px 1px 2px var(--border-color-dark);

    color: black;

    transition: 0.1s ease-in-out;
}

.open-code-img-3 {
    transform: translateX(-10px);
}

.open-live-code-3.windowDown {
    outline: 6px solid var(--deep-maroon);
    box-shadow: 15px 15px 1px 2px var(--deep-maroon);
}

.open-live-code-3:active {
    transform: translate(15px, 15px);
    box-shadow: none;
}

/* GITHUB button p3 */
.open-github-3 {
    display: flex;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    font-size: 1.6rem;
    font-weight: 800;

    padding: 20px 35px;
    outline: 6px solid var(--border-color-dark);
    background-color: var(--bg-white);
    box-shadow: 15px 15px 1px 2px var(--border-color-dark);

    color: black;

    transition: 0.1s ease-in-out;
}

.open-git-img-3 {
    width: 30px;
    height: 30px;

    transform: translateX(-10px);
}

.open-github-3.windowDown {
    outline: 6px solid var(--deep-navy);
    background-color: var(--vibrant-blue);
    box-shadow: 15px 15px 1px 2px var(--deep-navy);
}

.open-github-3:active {
    transform: translate(15px, 15px);
    box-shadow: none;
}

/* Image container 3*/
.orcrist-container {
    position: absolute;
    background-image: url('./assets/images/icons/proj-icon/background-tex.png');
    background-size: contain;

    display: flex;
    justify-content: center;
    
    width: 800px;
    height: 900px;

    outline: 4px solid var(--border-color-dark);

    background-color: rgb(61, 61, 61);

    z-index: -1;
}

.orcrist-container.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.orcrist-img {
    position: absolute;

    width: 850px;
    height: 900px;

    filter: grayscale(0.7);

    z-index: -2;

    transform-origin: center;
    transition: 1s ease-in-out;
}

.orcrist-img:hover {
    transform: scale(1.08);
    filter: grayscale(0);
}

.orcrist-img.anim {
    animation: fadeIn 1.6s ease-in-out;
}

.p3-tag {
    position: absolute;
    top: 40px;
    left: 25px;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;

    padding: 3px 6px;
    outline: 3px solid var(--border-color-dark);
    background-color: rgb(70, 218, 90);
    box-shadow: 10px 10px 0px 0px var(--border-color-dark);

    z-index: 2;
}

.p3-tag.anim {
    animation: fadeIn 1.6s ease-in-out;
}

/* Projects card animation */
@keyframes animateCard {
    0% {
    }
    100% {
        transform: translateY(-100px);
    }
}

/* -------------- Contact -------------- */
#contact {
    display: flex;

    width: 140vw;
    height: 140vh;

    position: absolute;
    top: 0;
    left: 20000px;
}

.info-card {
    position: absolute;
    top: 280px;
    left: 280px;

    width: 1050px;
    height: 550px;

    transform: rotate(-3deg);

    background-color: var(--accent-card);
    outline: 6px solid var(--border-color-dark);
    box-shadow: 15px 15px 0px 0px var(--border-color-dark);

    transition: 0.2s ease-in-out;
}

.info-card.anim {
    animation: slideInLeft 1s ease-in-out;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-200px);
        box-shadow: none;
    }
    50% {
        transform: translate(0px);
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: rotate(-3deg);
    }
}

.info-card.windowDown {
    outline: 6px solid var(--border-color-goldish);
    box-shadow: 15px 15px 0px 0px var(--vibrant-blue);
}

.info-card.windowDown:hover {
    transform: translate(-10px, -10px) rotate(-3deg);
    box-shadow: 20px 20px 0px 0px var(--neo);
}

.info-card:hover {
    transform: translate(-10px, -10px) rotate(-3deg);
    box-shadow: 20px 20px 0px 0px var(--border-color-dark);
}

.top-card {
    display: flex;

    position: absolute;
    top: 50px;
    left: 50px;

    padding: 2px 10px;
    outline: 6px solid var(--border-color-dark);
    background-color: var(--bg-white);

    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.48rem;
}

.top-card.anim {
    animation: fadeIn 1.3s ease-in-out;
}

.info-header {
    position: absolute;
    top: 110px;
    left: 50px;

    width: 600px;

    text-transform: uppercase;
    font-weight: 800;
    font-size: 8rem;

    color: var(--txt-white);
}

.info-header.anim {
    animation: fadeIn 1.4s ease-in-out;
}

.info-H-build {
    position: absolute;
    top: 120px;
    left: 0px;

    -webkit-text-stroke: 4px var(--bg-white);
    color: transparent;
}

.info-H-it {
    position: absolute;
    top: 120px;
    left: 380px;
}

.info-paragraph {
    position: absolute;
    top: 440px;
    left: 50px;

    font-size: 2rem;
    font-weight: 600;

    color: var(--txt-white);
}

.info-paragraph.anim {
    animation: fadeIn 1.5s ease-in-out;
}

/* email box*/
.mail-box {
    position: absolute;
    top: 950px;
    left: 300px;

    width: 500px;
    height: 200px;

    background-color: rgb(250, 213, 48);
    outline: 6px solid var(--border-color-dark);
    box-shadow: 15px 15px 0px 0px var(--border-color-dark);

    transition: 0.2s ease-in-out;
}

.mail-box.anim {
    animation: slideUp 1s ease-in-out;
}

@keyframes slideUp {
    0% {
        transform: translateY(500px);
        box-shadow: none;
    }
    90% {
        box-shadow: none;
    }
    100% {
        transform: translateY(0px);
    }
}

.mail-box.windowDown {
    outline: 6px solid var(--vibrant-blue);
    box-shadow: 15px 15px 0px 0px var(--vibrant-blue);
}

.mail-box.windowDown:hover {
    transform: translate(-5px, -5px);
    box-shadow: 25px 25px 0px 0px var(--neo);    
}

.mail-box:hover {
    transform: translate(-5px, -5px);
    box-shadow: 25px 25px 0px 0px var(--border-color-dark);
}

.mail-svg {
    position:absolute;
    top: 20px;
    left: 40px;

    width: 60px;
    height: 60px;
}

.mail-svg.anim {
    animation: fadeIn 1.2s ease-in-out;
}

.mail-box-text {
    position: absolute;
    top: 85px;
    left: 50px;

    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.mail-box-text.anim {
    animation: fadeIn 1.3s ease-in-out;
}

.email {
    position: absolute;
    top: 100px;
    left: 50px;

    font-size: 1.5rem;
    font-weight: 800;
}

.email.anim {
    animation: fadeIn 1.3s ease-in-out;
}

/* social box */
.social-box {
    position: absolute;
    top: 950px;
    left: 850px;

    width: 500px;
    height: 200px;

    background-color: rgb(255, 255, 255);
    outline: 6px solid var(--border-color-dark);
    box-shadow: 15px 15px 0px 0px var(--border-color-dark);

    transition: 0.2s ease-in-out;
}

.social-box.anim {
    animation: slideUp 1.2s ease-in-out;
}

.social-box.windowDown {
    background-color: var(--bg-dark);
    outline: 6px solid var(--vibrant-blue);
    box-shadow: 15px 15px 0px 0px var(--vibrant-blue);
}

.social-box:hover {
    transform: translate(-5px, -5px);
    box-shadow: 20px 20px 0px 0px var(--border-color-dark);
}

.social-box.windowDown:hover {
    transform: translate(-5px, -5px);
    box-shadow: 20px 20px 0px 0px var(--neo); 
}

.github-social-button {
    display: flex;
    
    position: absolute;
    top: 30px;
    left: 30px;

    padding: 5px 5px;
    outline: 5px solid var(--border-color-dark);
}

.github-social-button.anim {
    animation: fadeIn 1.2s ease-in-out;
}

.github-social-button.windowDown {
    background-color: var(--bg-white);
    outline: 5px solid var(--vibrant-blue);
}

.github-svg {
    width: 50px;
    height: 50px;
}

.discord-social-button {
    position: absolute;
    top: 30px;
    left: 120px;

    padding: 5px 5px;
    background-color: rgb(137, 137, 255);
    outline: 5px solid var(--border-color-dark);
}

.discord-social-button.anim {
    animation: fadeIn 1.3s ease-in-out;
}

.discord-social-button.windowDown {
    outline: 5px solid var(--vibrant-blue);
}
 
.discord-svg {
    width: 50px;
    height: 50px;
}

.social-infer-text {
    position: absolute;
    top: 100px;
    left: 30px;

    color: var(--txt-white);
    mix-blend-mode: difference;

    font-size: 1.5rem;
    font-weight: 600;
}

.social-infer-text.anim {
    animation: fadeIn 1.4s ease-in-out;
}

.social-box-text {
    position: absolute;
    top: 150px;
    left: 30px;

    color: var(--txt-white);
    mix-blend-mode: difference;

    font-size: 1.7rem;
    font-weight: 600;
}

.social-box-text.anim {
    animation: fadeIn 1.5s ease-in-out;
}

/* Contact form */
.send-icon {
    position: absolute;
    left: 975px;
    bottom: 850px;

    width: 50px;
    height: 50px;

    transform: rotate(-60deg);

    padding: 20px 0px;
    outline: 6px solid var(--border-color-dark);
    background-color: rgb(250, 213, 48);
    box-shadow: -13px 13px 0px 0px var(--border-color-dark);

    z-index: 4;
}

.send-icon.anim {
    animation: fadeIn 1.2s ease-in-out;
}

.send-icon.windowDown {
    outline: 6px solid var(--deep-navy);
    box-shadow: -13px 13px 0px 0px var(--vibrant-blue);
}

.form-box {
    display: flex;

    position: absolute;
    top: 260px;
    left: 1460px;

    width: 1000px;
    height: 900px;

    background-color: white;
    outline: 8px solid var(--border-color-dark);
    box-shadow: 20px 20px 0px 0px var(--border-color-dark);

    transition: var(--animTime);
}

.form-box.anim {
    animation: slideRight 1s ease-in-out;
}

@keyframes slideRight {
    0% {
        transform: translateX(500px);
        box-shadow: none;
    }

    85% {
        box-shadow: none;
    }
    100% {
        transform: translateX(0px);
    }
}

.form-box.windowDown {
    background-color: var(--bg-dark);
    outline: 8px solid var(--vibrant-blue);
    box-shadow: 20px 20px 0px 0px var(--vibrant-blue);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 55px;
}

form.anim {
    animation: fadeIn 1.2s ease-in-out;
}

label {
    display: block;

    margin-top: 25px;
    margin-bottom: 8px;

    font-size: 1.6rem;
    font-weight: 800;
    color: var(--txt-white);
    mix-blend-mode: difference;
}

label.anim {
    animation: fadeIn 1.3s ease-in-out;
}

input[type="text"],
input[type="email"],
textarea {
    font-family: "Space Grotesk";

    margin-bottom: 20px;
    width: 880px;
    height: 80px;

    padding: 10px 20px;
    outline: 4px solid #000;
    box-sizing: border-box;
    
    font-size: 1.7rem;
    font-weight: 800;

    transition: 0.2s ease-in-out;
}

input[type="text"].anim,
input[type="email"].anim,
textarea.anim {
    animation: fadeIn 1.3s ease-in-out;
}

input[type="text"].windowDown,
input[type="email"].windowDown,
textarea.windowDown { 
    outline: 4px solid var(--vibrant-blue);
    background-color: rgb(85, 85, 85);
}

textarea {
    overflow:hidden;

    resize: none;
    height: 180px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    box-shadow: 12px 12px 0px 0px var(--border-color-dark);
    background-color: var(--neo);
}

input[type="text"].windowDown:focus,
input[type="email"].windowDown:focus,
textarea.windowDown:focus {
    box-shadow: 12px 12px 0px 0px var(--neo);
    background-color: var(--neo-yellow);
}

/* Submit button */
.submit-button {
    font-family: "Space Grotesk";
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
    cursor: pointer;

    margin-top: 40px;

    height: 100px;
    width: 880px;

    outline: 4px solid var(--border-color-dark);
    box-shadow: 10px 10px 0px 0px var(--border-color-dark);
    background-color: var(--accent-card);

    transition: 0.1s ease-in-out;
}

.submit-button.anim {
    animation: NoShadow 1.7s ease-in-out;
}

@keyframes NoShadow {
    0% {
        transform: translate(10px, 10px);
        box-shadow: none;
    }
    85% {
        transform: translate(10px, 10px);
        box-shadow: none;
    }
}

.submit-button.windowDown {
    outline: 4px solid var(--vibrant-blue);
    box-shadow: 10px 10px 0px 0px var(--vibrant-blue);
}

.submit-button.clicked {
    animation: submitBTN 1s ease-in-out;
}

.submit-button.clickOnly {
    animation: clickNly 0.2s ease-in-out;
}

.mail-sent {
    width: 60px;
    height: 60px;
}

.mail-sent.hidden {
    display: none;
}

.mail-sent.sentAnim {
    animation: mailSent 0.9s ease-in-out;
}

@keyframes clickNly {
    50% {
        transform: translate(10px, 10px);
        box-shadow: none;
    }
    100% {
    }
}

@keyframes mailSent {
    40% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1.1) rotate(3deg);
    }
    65% {
        transform: scale(1.1) rotate(-3deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes submitBTN {
    0% {
        font-size: 0;
    }
    10% {
        background-color: rgb(57, 255, 17);
        transform: translate(10px, 10px);
        box-shadow: none;
    }
    70% {
        font-size: 0;
    }
    75% {
        background-color: rgb(57, 255, 17);
        transform: translate(10px, 10px);
        box-shadow: none;    
    }
    90% {
        font-size: 0;
    }
    100% {
        font-size: 2.5rem;
    }
}
